@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.container{
    display: grid;
    grid-template-columns: 0.7fr 3fr;
    grid-template-rows: 110px calc(100vh - 110px);
}
header{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 50px 60px;
}
nav{
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    gap: 20px;
}
#search{
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    align-items: center;
    gap: 10px;
    padding-left: 40px;
}
#search input{
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: #e1e8f0;
}
.links{
    display: grid;
    align-items: center;
}
nav .links{
    grid-template-columns: 0.3fr 0.3fr 1fr;
    justify-self: center;
    gap: 15px;
}
nav .icons{
    height: 22px;
    width: 22px;
}
.head .links{
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    gap: 30px;
}
button{
    background-color: #1892d3;
    color: white;
    border: transparent;
    font-size: 12px;
    font-weight: bold;
    border-radius: 15px;
    padding: 8px;
    width: 80px;
}
.head{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.head-col1{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    align-items: center;
    gap: 15px;
}
#profile{
    justify-self: end;
}
#mainPfp{
    border-radius: 50%;
    height: 45px;
    width: 45px;
}
.greeting{
    font-weight: bold;
    font-size: 10px;
}
#name{
    font-weight: bolder;
    font-size: 18px;
}
.icons{
    height: 25x;
    width: 25px;
}
.pfp{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.sidebar{
    background-color: #1892d3;
    grid-row:1 / 3;
    font-weight: bold;
    display: grid;
    grid-template-rows: 40px 240px 120px;
    gap: 15px;
    padding-top: 20px;
}
.sidebar-heading{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    gap: 5px;
    font-size: 25px;
    align-items: center;
}
.sidebar-heading img{
    height: 33px;
    width: 33px;
}
.sidebar-row1{
    display:grid;
    grid-template-rows: repeat(6, 1fr);
}
.sidebar-row1 div, .sidebar-row2 div{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    align-items: center;
    gap: 5px;
}
.sidebar-row1 div img,.sidebar-heading img,.sidebar-row2 div img{
    justify-self: end;
}
.sidebar-row2{
    display:grid;
    grid-template-rows: repeat(3, 1fr);
}
main{
    background-color: #e1e8f0;
    display: grid;
    grid-template-columns: 2fr 0.8fr;
    gap: 15px;
    padding: 15px;
}
.wrapper{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.card{
    background-color: white;
    border-left: 7px solid darkorange;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 30px 90px 30px;
    gap: 2px;
    padding-left: 6px;
}
.main-right{
    display: grid;
    grid-template-rows: 50px 200px 50px 200px;
}
.sidecard-row1, .sidecard-row2{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: white;
    border-radius: 5px;
}
.sidecard-row1{
    
    align-items: center;
}
.sidecard-row2 .cards{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    gap: 5px;
    align-items: center;
}
.sidecard-row2 .cards img{
    justify-self: end;
}
footer{
    font-weight: bold;
    background-color: transparent;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 30px;
}