@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.container{
    display: grid;
    grid-template-columns: 0.7fr 3fr;
}
header{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 0.8fr 1.2fr;
    height: 100px;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.head{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#mainPfp{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.head-row1{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}
.greeting{
    font-weight: bold;
    font-size: 10px;
}
#name{
    font-weight: bolder;
    font-size: 18px;
}
.sidebar{
    background-color: #1892d3;
    grid-row:1 / 3;
    display: grid;
    grid-template-rows: 30px 200px 100px;
    gap: 35px;
}
.icons{
    height: 25x;
    width: 25px;
}
.pfp{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.sidebar-heading{
    height: 50px;
}
.sidebar-row1{
    display:grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
}
.sidebar-row2{
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
main{
    background-color: #e1e8f0;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.wrapper{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.card{
    background-color: white;
    border-radius: 5px;
}
.sidecard{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: white;
    border-radius: 5px;
}
footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 30px;
}
